<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Book notes</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="topnav">
          <span class="nav-brand">Book Notes</span>
          <div class="search-container">
            <form action="/action_page.php" class="search-form">
              <div class="search-wrapper">
                <input type="text" placeholder="Search.." name="search" />
                <button type="submit" aria-label="Search">
                  <i class="fas fa-magnifying-glass"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
